.a{
    width: 100%;
    height: 100%;
}

/* === BASE HEADING === */

h1 {
    position: relative;
    top: 50px;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}

h1 em {
    font-style: normal;
    font-weight: 600;
}

/* === HEADING STYLE #1 === */
.one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.one h1:before {
    width: 50px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 48%;
    margin-left: -14px;
    background-color: #b80000;
}

.one h1:after {
    width: 123px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 48%;
    margin-left: -50px;
    background-color: #b80000;
}



section {
    position: relative;
    top: 100px;
    height: 900px;
    width: 100%;
    background-position: 100% 10px;
    background-repeat: no-repeat;
    background-size: 100% 800px;
}

.image-1{
    background-image: url("2.jpg");
}


.photo1{
    position: absolute;
    top: 2%;
    left: 28%;
    height: 4%;
    width: 5%;
}

.photo2{
    position: absolute;
    top: 2%;
    left: 48%;
    height: 4%;
    width: 5%;
}
.photo3{
    position: absolute;
    top: 2%;
    left: 68%;
    height: 4%;
    width: 5%;
}
.photo4{
    position: absolute;
    top: 2%;
    left: 88%;
    height: 4%;
    width: 5%;
}
.photo5{
    position: absolute;
    top: 85%;
    left: 85.5%;
    height: 4%;
    width: 5%;
}
.photo6{
    position: absolute;
    top: 85%;
    left: 62%;
    height: 4%;
    width: 5%;
}
.photo7{
    position: absolute;
    top: 85%;
    left: 42%;
    height: 4%;
    width: 5%;
}
.photo8{
    position: absolute;
    top: 85%;
    left: 26.5%;
    height: 4%;
    width: 5%;
}
.photo9{
    position: absolute;
    top: 85%;
    left: 8.5%;
    height: 4%;
    width: 5%;
}
/*_______End______*/




.photo10{
    position: absolute;
    top: 2%;
    left: 93%;
    height: 4%;
    width: 5%;
}
.photo11{
    position: absolute;
    top: 62%;
    left: 93.5%;
    height: 4%;
    width: 5%;
}
.photo12{
    position: absolute;
    top: 85%;
    left: 88%;
    height: 4%;
    width: 5%;
}
.photo13{
    position: absolute;
    top: 85%;
    left: 80%;
    height: 4%;
    width: 5%;
}
.photo14{
    position: absolute;
    top: 85%;
    left: 68.5%;
    height: 4%;
    width: 5%;
}
.photo15{
    position: absolute;
    top: 85%;
    left: 55%;
    height: 4%;
    width: 5%;
}
.photo16{
    position: absolute;
    top: 85%;
    left: 41%;
    height: 4%;
    width: 5%;
}
.photo17{
    position: absolute;
    top: 85%;
    left: 28%;
    height: 4%;
    width: 5%;
}
.photo18{
    position: absolute;
    top: 85%;
    left: 15.5%;
    height: 4%;
    width: 5%;
}